
/.quarto/

pages/chapters/*_cache/
pages/chapters/*_files/
playground/
assets/pdfs
assets/presentations


# R stuff
.Rproj.user
.Rhistory
.Rdata

# vscode stuff
.vscode

# MacOS specific stuff
.DS_Store
src/playground.ts
